<div class="mt-4">
  <form method="POST" action="">
  <div class="form-group">
    <label for="search-input">Từ khóa</label>
    <h1></h1>
    <input type="text" name="q" class="form-control" id="exampleInputEmail1" placeholder="Nhập từ khóa...">
  </div>
   <h1></h1>
  <button type="submit" class="btn btn-primary">Tìm kiếm</button>
  <h1></h1>
  <div class="form-group">
    <label for="gender-input">Giới tính</label>
    <select name="gender" class="form-control" id="gender-input">
      <option value="">--Chọn giới tính --</option>
      <option value="male">nam</option>
      <option value="female">nữ</option>
  </div>
</form>
</div>